.main-container{
    text-align: center;
}
.main-container > input{
    width: 80vw;
    max-width: 800px;

    margin: 0 auto;
}
.output{
    max-width: 150px;
}
.defn-list{
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
}