<div class="container main-container mx-auto">

    <h1>Input a number to check its FizzBuzziness</h1>
    <h5>You can input multiple numbers seperated by a comma ","</h5>
    <input type="text" class="my-3 form-control" [maxlength]="maxInputLength" [(ngModel)]="userNumberInput" placeholder="Input numbers">
    <div class="row mx-auto my-3" style="max-width: 220px;">
        <div class="col-6">
            <button class="btn btn-success" (click)="fizzbuzzInput()">Check</button>

        </div>
        <div class="col-6">
    <button class="btn btn-warning" (click)="clearOutput()">Clear&nbsp;output</button>
            
        </div>
    </div>
    <h4>Output:</h4>
    <table class="table table-borderless">
        <thead>
            <tr>
                <th>Input</th>
                <th>Output</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of inputOutputs">
                <td>{{row.input}}</td>
                <td>{{row.output}}</td>

            </tr>
        </tbody>
    </table>
    <div [innerHtml]="fizzbuzzOutput" class="output mx-auto"></div>
</div>